$width:35em;
$mainFontColor:#343434;

@mixin mobile{
    @media(max-width:#{$width}){
        @content
    }
}

@mixin mobileBetween{
    @media(min-width:#{$width}) and  (max-width:55em){
        @content
    }
}

*{
    font-family: 'Rajdhani', sans-serif;
    color:$mainFontColor;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

//*************************************************
//  Nav
//*************************************************
.logo{
    margin:2rem;
    font-size: 1.5em;
    font-weight: 600;
    color:#e5e5e5;
    mix-blend-mode: difference;
}

.primary-header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343434;
    //background-image:linear-gradient(to bottom, rgba(52, 52, 52, 0.8), transparent);
    //background-image: linear-gradient(to bottom, white, #bdbdbd);

}
.primary-navigation{
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: hsl(0 0% 100% / 0.3);
    backdrop-filter: blur(1rem);

    &[showMenu="true"]{
        transform: translateX(0%);
    }

    @include mobile{
        z-index:20;
        gap:2em;
        position: fixed;
        inset:0 0 0 40%;
        flex-direction: column;
        // padding: min(30vh, 10rem) 2em;
        // transform: translateX(100%);
        // transition: transform 1s ease-out;
    }
  
    @include mobileBetween{
        & a > span[aria-hidden]{
            display: none;
        }
       //background-color: red;
    }

    li{
        //padding:  0.85em 0 0.85em 0;  

        a{
            font-size: 1.2em;
            color:#fff;
            text-decoration: none;
            padding-right:  0.85em;
            // mix-blend-mode: difference;
            //filter: invert(0);

            & > [aria-hidden="true"]{
                color:#fff;
                font-weight: 700;
                margin-inline-end: 0.5em;
            }
        }
    }
}

//*************************************************
//  Nav End
//*************************************************




//*************************************************
//  carousel
//*************************************************
.carousel-control {
    text-shadow: 0;
}
 
.carousel .carousel-inner .carousel-item  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
  
//*************************************************
//  carousel End
//*************************************************
// main{
//     margin:0;
//     background-color: lightgray;
// }






/*************************************************
/*animation*/
//*************************************************
@keyframes fadeUp{
    0%{
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scale{
    0%{
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes grow{
    0%{
        width:0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes fadeDown{
    0%{
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes up{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}
